*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

.card{
  display: flex;
  flex-direction: column;
  width:35%;
  border:1px solid gainsboro;
  border-radius: 10px;
  padding:0;
}

.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.user{
  display: flex;
  gap:10px;
  align-items: center;
}
.user-image{
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.card-body{
  display: flex;
  flex-direction: column;

}
.post{
  height: 300px;
}
.interaction{
  display: flex;
  gap:20px;
  padding: 15px 10px;
  font-size: 20px;
  background-color:rgba(246, 242, 242, 0.552);
  border-bottom: 1px solid gainsboro;
}

.post-image{
  height:100%;
  width: 100%;
}

.card-content{
  text-align: left;
  padding:10px;
}

.learn-more{
  display: block;
  padding: 5px 20px;
  text-align: right;
}

.arrow{
  font-size: 20px;
}

/* Dark Mode  */
.bg-dark{
  background-color: black;
}
.white{
  color:white;
}
