*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: calibri;
}


form{
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
}

legend{
  text-align: center;
  padding: 10px;
  font-size: 2.3rem;
  font-weight: 600;
}

fieldset{
  display: flex;
  flex-direction: column;
  gap:10px;
  width: 40%;
  padding: 15px;
  border-radius: 10px;
}
.row{
 width: 100%;
 display: flex;
 justify-content: space-between;
}

.col{
   width:49%;
   /* margin: 5px; */

}
.gender{
   display:flex;
   justify-content: center;
   /* align-items: center; */
   gap:10px;
}
.radio-group{
  display: flex;
  justify-content: center;
  align-items:center;
  text-transform: capitalize;
  color: gray;
  height: 40px;
  gap:5px
}
.form-input{
      padding:12px;
      border:1px solid gainsboro;
      border-radius: 5px;
      /* display:block; */
      width: 100%;
}
.submit{
  display:flex;
  justify-content: center;
  margin: auto;
  padding: 10px;
  width: 100px;
  border-radius: 50px;
  background: linear-gradient(royalblue,rgb(50, 140, 175));
  color:white;
  border:none;
  /* text-align: center; */
}

@media screen and (max-width:576px){
  
}

@media screen and (min-width:576px) and (max-width:768px) {
  
}

@media screen and (min-width:768px) and (max-width:1024px) {
  
}