
/* Default Style & Imports */
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri;
}

/* Variable */
:root{
  --brand-color-1:rgb(0, 229, 255);
  --brand-color-2:rgb(57, 255, 133);
}
/* Navbar */
.wrapper,.icons{
  gap:10px
}

.brand-text-1,.brand-text-2{
  font-size:2.4rem;
  font-family:"Lily Script One", system-ui;
}

.brand-text-1{
  color: var(--brand-color-1);
}
.brand-text-2{
  color: var(--brand-color-2);
}

#search::-webkit-search-cancel-button{
  display: none;
}

/* Product Cart Modal*/
.cart-product-image{
  width:200px;
}
.product-link{
  font-size: 14px;
}
.product-link a::after{
  content: "| ";
  height: 20px;
  width: 5px;
  color: gray;
  font-size: 15px;
  margin:0 7px;
}
.product-link a:last-child::after{
  content: "";
}
/* Login Modal */
#loginModal .modal-dialog{
  height: 100vh;

}
.sign-up-link{
  font-size: 13px;
}

/* Product Card */
.product-card{
  width:calc(100% / 5);
}
.read-more{
  font-size: 14.2px;
}


/* Register Form & Login*/
#registerForm,#loginForm{
  height: 100vh;
}

/* Admin Dashboard */
.admin-profile-img{
  height: 30px;
  width: 30px;
}
.nav-options ul{
  gap:10px;
  font-size: 1.1rem;
}

#sidebar{
  height: calc(100vh - 70px);
  overflow: auto;
  width:calc(100% / 6);
}
#sidebar::-webkit-scrollbar,.table-responsive::-webkit-scrollbar{
  display: none;
}

/* Mobile */
@media screen and (max-width:768px) {
   .input-icon{
    color:white !important;
   }
   .product-card{
    width:calc(100% - 10%);
  }

  /* Admin Sidebar */
  #sidebar{
    position:absolute;
    /* top:70px; */
    display: none;
    /* left:50%; */
    z-index: 10;
    width:calc(100% / 2);
    transition:0.5s all ease-in-out;
  }
}
/* Tablet */
@media screen and (min-width:768px) and (max-width:1024px) {
  
}
/* Laptop */

@media screen and (min-width:1024px) and (max-width:1248px) {
  
}
/* Desktop */
@media screen and (min-width:1248px){

}